<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>관리자페이지</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <style>
        legend {
            font-weight: bold;
            font-size: 24px; /* 원하는 크기로 조절 */
        }
    </style>
</head>


<body>
<div layout:fragment="content">

    <table>
        <legend>관리 도구</legend>
        <tr>
            <td><a href="/admin/update"> 상품 수정 및 삭제 </a></td>
        </tr>
        <tr>
            <td> <a id="AdminAdd" href="javascript:void(0);"> 상품 추가 </a></td>
        </tr>
        <tr>
            <td><a href="/admin/flight/add"> 회차 추가 </a></td>
        </tr>
    </table>


</div>
</body>
</html>