<div th:fragment="bottom">
    <div style="text-align: left; font-size: smaller;">
        <a href="/">회사소개 |</a>
        <a href="/">개인정보 처리방침 |</a>
        <a href="/">청소년 보호정책 |</a>
        <a href="/">이용약관 |</a>
        <a href="/help/main/">고객센터 |</a>
        <a href="/help/main/">티켓판매안내 |</a>
        <a href="/">광고안내</a><br><br>

        엔에이치엔링크 주식회사<br>
        주소: 06043 서울특별시 강남구 강남대로 586, 제이빌딩대표이사: 왕문주사업자등록번호: 144-81-25090<br>
        1588-7890membership@nhnlink.co.kr통신판매업 신고번호: 제 2023-서울강남-04352호사업자정보확인개인정보보호 책임자: 서상훈<br>
        Copyright © NHN LINK Corporation. All rights reserved.<br>
    </div>
</div>
